/* Customize the header background, font, and menu styling */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .menu li:hover {
    color: #ffd700; /* Change the color on hover */
  }

  .tagline {
    font-size: 10px; /* Adjust the font size as needed */
    font-weight: bold; /* Add font-weight if desired */
    margin-top: 10px; /* Adjust the margin spacing as needed */
    color: #fff; /* Set the text color */
    /* Add other styling properties as needed */
    font-family: cursive;
  }
  